name: Show Changed Models
on:
  push:
    branches: main
  pull_request_target:
    branches: main
env:
  SYSTEM_SNOWFLAKE_USER: ${{ secrets.SYSTEM_SNOWFLAKE_USER }}
  SYSTEM_SNOWFLAKE_PASSWORD: ${{ secrets.SYSTEM_SNOWFLAKE_PASSWORD }}
  SYSTEM_SNOWFLAKE_ROLE: ${{ secrets.SYSTEM_SNOWFLAKE_ROLE }}
permissions: {}
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true
jobs:
  check-user:
    runs-on: ubuntu-latest
    steps:
      - name: Check out PR
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: actions/github-script@v7
        retries: 3
        id: check_user
        with:
          script: |
            const { data: collaborators } = await github.rest.repos.listCollaborators({
              owner: context.repo.owner,
              repo: context.repo.repo,
              affiliation: 'all'
            });

            const usersWithPushAccess = collaborators
              .filter(collaborator => collaborator.permissions.push)
              .map(user => user.login);

            const hasPushAccess = usersWithPushAccess.includes(context.actor);

            core.setOutput("has_push_access", hasPushAccess);
  build:
    runs-on: ubuntu-latest
    if: needs.check-user.outputs.should_run == 'true'
    steps:
      - uses: actions/setup-python@v2
        with:
          python-version: "3.11"

      - name: Check out PR
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Set up dependencies
        run: |
          pip install pip==23.1.2
          pip install pip-tools==6.13.0
          pip install -r requirements.txt

      - name: Download manifest.json
        run: |
          wget https://artemis-xyz.github.io/dbt/manifest.json

      - name: Show results of changed models
        run: |
          dbt deps
          source dbt_scripts/show_changed.sh
